# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Flask instance folder and SQLite DB
user-management-app/instance/
user-management-app/src/users.db
user-management-app/src/db_backups/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db